h1{
    font-family: "Georgia", sans-serif;
font-size: 50px;
letter-spacing: 2px;
word-spacing: 4px;
color: #000000;
font-weight: 700;
text-transform: uppercase;
}
h2{
    font-family: "Arial Black", Gadget, sans-serif;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-transform: uppercase;
}
h3{
    font-family: "Arial Black", Gadget, sans-serif;
font-size: 15px;
letter-spacing: 2px;
word-spacing: 2px;
color: #808080;;
font-weight: 700;
}

